{% extends "dashboards.html" %}
{% block content %}

<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/js-xlsx/xlsx.core.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/export/bootstrap-table-export.min.js"></script>

<button id="exporttable" class="btn btn-primary">Export</button>
<table
        id="best_players"
        data-toggle="table"
        data-sortable="true"
        data-show-export="true"
        class="table table-bordered table-hover table-sm">
    <thead>
        <tr class="text-center">
            <th class="align-middle" data-sortable="true">#</th>
            <th class="align-middle" data-sortable="true">Гравець</th>
            <th class="align-middle" data-sortable="true">Рейтинг</th>
            <th class="align-middle" data-sortable="true">Очки загалом</th>
            <th class="align-middle" data-sortable="true">Очки WL2020</th>
            <th class="align-middle" data-sortable="true">Очки WL2020 (960)</th>
            <th class="align-middle" data-sortable="true">Очки EL2020</th>
            <th class="align-middle" data-sortable="true">Очки TMCL2020</th>
            <th class="align-middle" data-sortable="true">Очки 1WL2020</th>
        </tr>
    </thead>
    <tbody>
    {% for index, row in best_players.iterrows(): %}
        <tr class="text-center align-middle">
            <td>{{ index+1 }}</td>
            <td>{{ row['our_username'] }}</td>
            <td>{{ row['chess_daily_rating'] | int }}</td>
            <td>{{ row['score_total'] }}</td>
            <td>{{ row['score_WL2020'] }}</td>
            <td>{{ row['score_WL2020_960'] }}</td>
            <td>{{ row['score_EL2020'] }}</td>
            <td>{{ row['score_TMCL2020'] }}</td>
            <td>{{ row['score_1WL2020'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

<script>

$(function() {
$("#exporttable").click(function(e){
        $("table").tableExport({
            fileName:"ololosha",
            type: "xlsx"
        });
    });
});
</script>

{% endblock %}