{% extends "base.html" %}
{% block content %}


<div class="container">
    {% if current_user.rights.can_edit_events %}
    <div class="col py-4">
        <a class="btn btn-outline-info float-right" href="{{ url_for('events_bp.add_event') }}"><img src="/static/icons/add.svg">Додати подію</a>
    </div>
    {% endif %}
    <h3 class="text-center">Актуальні події</h3>
    <table class="table">
        <tr>
            <td>#</td>
            <td>Подія</td>
            <td>Дата події</td>
            <td></td>
            {% if current_user.rights.can_edit_events %}
            <td></td>
            <td></td>
            {% endif %}
        </tr>
        {% for event in actual_events %}
        <tr>
            <td style="width: 20px">{{ event['event_id'] }}</td>
            <td>{{ event['event_name'] }}</td>
            <td style="width: 50px">{{ event['event_date'].date() }}</td>
            <td style="width: 20px"><a class="btn btn-outline-info" href="{{ url_for('events_bp.event', event_id=event['event_id']) }}"><img src="/static/icons/eye.svg"></a></td>
            {% if current_user.rights.can_edit_events %}
            <td style="width: 20px"><a class="btn btn-outline-success" href="{{ url_for('events_bp.edit_event', event_id=event['event_id']) }}"><img src="/static/icons/repo.svg"></a></td>
            <td style="width: 20px"><a class="btn btn-danger" href="{{ url_for('events_bp.delete_event', event_id=event['event_id']) }}"><img src="/static/icons/x.svg"></a></td>
            {% endif %}
        </tr>

    {% endfor %}
    </table>

    <h3 class="text-center">Минулі події</h3>
    <table class="table">
        <tr>
            <td>#</td>
            <td>Подія</td>
            <td>Дата події</td>
            <td></td>
            {% if current_user.rights.can_edit_events %}
            <td></td>
            <td></td>
            {% endif %}
        </tr>
        {% for event in previous_events %}
        <tr>
            <td style="width: 20px">{{ event['event_id'] }}</td>
            <td>{{ event['event_name'] }}</td>
            <td style="width: 50px">{{ event['event_date'].date() }}</td>
            <td style="width: 20px"><a class="btn btn-outline-info" href="{{ url_for('events_bp.event', event_id=event['event_id']) }}"><img src="/static/icons/eye.svg"></a></td>
            {% if current_user.rights.can_edit_events %}
            <td style="width: 20px"><a class="btn btn-outline-success" href="{{ url_for('events_bp.edit_event', event_id=event['event_id']) }}"><img src="/static/icons/repo.svg"></a></td>
            <td style="width: 20px"><a class="btn btn-danger" href="{{ url_for('events_bp.delete_event', event_id=event['event_id']) }}"><img src="/static/icons/x.svg"></a></td>
            {% endif %}
        </tr>

    {% endfor %}
    </table>

    </div>

</div>



{% endblock %}