<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147182130-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147182130-1');
</script>

    <meta charset="UTF-8">

	<link rel="icon" href="/static/ico_ukraine.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js'></script>
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<script src="//cdn.ckeditor.com/4.13.0/basic/ckeditor.js"></script>

    <title>Team Ukraine</title>
	{% endblock head %}
</head>
<body>
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v4.0"></script>

	<!-- Top menu -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a href="{{ url_for('index') }}" class="navbar-brand">Team Ukraine</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a href= "{{ url_for('index') }}" class="nav-link">Головна</a>
				</li>
				<li class="nav-item">
					<a href= "{{ url_for('clubs_bp.index') }}" class="nav-link">Клуби</a>
				</li>
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Турніри</a>
					<div class="dropdown-menu">

						<a class="dropdown-item" href = "{{ url_for('tournaments_bp.green_chess_cup_1plus_grade') }}">Green Chess Cup: 1+ grades <span class="text-danger font-weight-light">(NEW!)</span></a>
						<a class="dropdown-item" href = "{{ url_for('tournaments_bp.green_chess_cup_1_2_grade') }}">Green Chess Cup: 1-2 grades <span class="text-danger font-weight-light">(NEW!)</span></a>
						<a class="dropdown-item" href = "{{ url_for('tournaments_bp.green_chess_cup_3_4_grade') }}">Green Chess Cup: 3-4 grades <span class="text-danger font-weight-light">(NEW!)</span></a>
						<a class="dropdown-item" href = "{{ url_for('tournaments_bp.ucc2020_daily') }}">UCC 2020: Daily</a>
						<a class="dropdown-item" href = "{{ url_for('tournaments_bp.ucc2020_blitz') }}">UCC 2020: Blitz</a>
						<a class="dropdown-item" href = "{{ url_for('tournaments_bp.lcwl_s5_u1600') }}">LCWL S5 U1600 (кращі гравці)</a>
						<a class="dropdown-item" href = "{{ url_for('tournaments_bp.lcwl_s5_main') }}">LCWL S5 (кращі гравці)</a>
						<a class="dropdown-item" href = "{{ url_for('tu_best_daily_players_dashboard') }}">Daily 2020 (кращі гравці)</a>
						<!--<a class="dropdown-item" href = "{{ url_for('tournaments_bp.lcwl_main') }}">LCWL S4 (кращі гравці)</a>-->
                  		<!--<a class="dropdown-item" href = "{{ url_for('tournaments_bp.lcwl_u1600') }}">LCWL U1600 (кращі гравці)</a>-->
						<!--<a class="dropdown-item" href = "{{ url_for('tournaments_bp.ucc2019') }}">UCC 2019</a>-->
						<!--<a class="dropdown-item" href = "{{ url_for('tournaments_bp.ucc2019_bullet_rapid') }}">UCC 2019: Bullet & Rapid</a>-->
					</div>
				</li>
				<li class="nav-item">
					<a href= "{{ url_for('events_bp.index') }}" class="nav-link">Події</a>
				</li>
				{% if current_user.is_authenticated and current_user.rights.can_access_to_admin_page %}
				<li class="nav-item">
						<a href = "{{ url_for('admin_bp.reporting') }}" class="nav-link">Звітність</a>
				</li>
				{% endif %}
				</ul>
				<ul class="navbar-nav">
				{% if current_user.is_authenticated %}
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
						<img src={{ current_user.info.avatar or "https://via.placeholder.com/30/000000/FFFFFF/?text=^_^" }} height='30px' class="rounded-circle">
						Профіль
					</a>
					<div class="dropdown-menu">
                  		<a class="dropdown-item" href = "{{ url_for('profile') }}">Профіль</a>
						<a class="dropdown-item" href = "{{ url_for('logout') }}">Вихід</a>
					</div>
				</li>
				{% else %}
				<li class="nav-item">
					<a href= "{{ url_for('register') }}" class="nav-link">Реєстрація</a>
				</li>
				<li class="nav-item">
					<a href= "{{ url_for('login') }}" class="nav-link">Логін</a>
				</li>
				{% endif %}
				</ul>
		</div>
	</nav>
	<!-- Top menu -->

	<!--Content -->
	<div class="container-fluid">
		{% include '/helpers/_messages.html' %}
		{% block content %}
      	{% endblock %}
	</div>

	<!--Content -->



</body>
</html>