{% extends "base.html" %}
{% block content %}

<h2>{{ club_info['name'] }}</h2>

<img src="/static/{{ club_info['club_id'] }}.png" width="160">

<hr>

<h4>Опис клубу: </h4>

<p>{{ club_info['description'] | safe}}</p>

<p><strong>Дата створення: </strong> {{ club_info['created'] }}</p>
<p><strong>Місцезнаходження: </strong> {{ club_info['location']}}</p>
<p><strong>Посилання: </strong> <a href="{{ club_info['url']}}">{{ club_info['url'] }}</a></p>
<p><strong>Кількість гравців: </strong> {{ club_info['players_cnt']}}</p>

<hr>

<h4>Матчі</h4>

<br>

<h5>Матчі, що йдуть</h5>

Кольорове кодування:
<span class="badge badge-success">Фактично виграні матчі</span>
<span class="badge badge-danger">Фактично програні матчі</span>
<span class="badge badge-warning">Напружений матч</span>
<span class="badge badge-info">Лишилось трохи до перемоги</span>

<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr class="bg-dark text-white text-center">
            <td class="align-middle">Назва матчу</td>
            <td class="align-middle">Команда #1</td>
            <td class="align-middle">Очки команди #1</td>
            <td class="align-middle">Кількість дошок</td>
            <td class="align-middle">Очки команди #2</td>
            <td class="align-middle">Команда #2</td>
        </tr>
    </thead>
    <tbody>
    {% for match in club_matches_prog %}
    <tr class="
        {% if match['forecast_result'] == 'win' %}table-success
        {% elif match['forecast_result'] == 'lost' %}table-danger
        {% elif match['forecast_result'] == 'bitleft' %}table-info
        {% elif match['forecast_result'] == 'warning' %}table-warning
        {% else %}{% endif %}">
        <td class="border-dark"><a class="text-dark" href="{{ match['url']}}">{{ match['name'] }}</td>
        <td class="border-dark">{{ match['first_club_name'] }}</td>
        <td class="border-dark">{{ match['team1_score'] }}</td>
        <td class="border-dark">{{ match['boards'] }}</td>
        <td class="border-dark">{{ match['team2_score'] }}</td>
        <td class="border-dark">{{ match['second_club_name'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<br>

<h5>Матчі, на які триває реєстрація</h5>
<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr class="bg-dark text-white text-center">
            <td class="align-middle">Назва матчу</td>
            <td class="align-middle">Команда #1</td>
            <td class="align-middle">Команда #2</td>
            <td class="align-middle">Рейтинги</td>
        </tr>
    </thead>
    <tbody>
    {% for match in club_matches_reg %}
    <tr>
        <td class="border-dark"><a href="{{ match['url']}}">{{ match['name'] }}</td>
        <td class="border-dark">{{ match['first_club_name'] }}</td>
        <td class="border-dark">{{ match['second_club_name'] }}</td>
        <td class="border-dark">{{ match['ratings'] or '' }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}


