{% extends "base.html" %}
{% block content %}


<div class="container">
    <h3 class="text-center">Найближчі події</h3>
    <div class="row">
        {% for event in last_events %}
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="card">
                {% if event['event_picture'] is not none: %}
                <img src="/static/events/{{ event['event_picture'] }}" class="card-img-top">
                {% endif %}
                <div class="card-block m-3">
                    <h4 class="card-title">{{ event['event_name'] }}</h4>
                    <p class="card-text">{{ event['event_description'] | safe }}</p>
                    {% if current_user.submitted_to_event(event) %}
                     <a class="btn btn-success" href="{{ url_for('submit_event_action', event_id=event.event_id) }}">
                        <i class="fa fa-check"></i> Ви записані
                        <span class="badge badge-light">{{ event.submits.count() }}</span>
                    </a>
                    {% else %}
                    <a class="btn btn-dark" href="{{ url_for('submit_event_action', event_id=event.event_id) }}">
                        <i class="fa fa-check"></i> Відвідати
                        <span class="badge badge-light">{{ event.submits.count() }}</span>
                    </a>
                    {% endif %}
                    <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

</div>



{% endblock %}