{% extends "base.html" %}

{% block content %}

    {% from "/helpers/_formhelpers.html" import render_field %}
    <div class="row d-flex justify-content-center ">
        <div class="col-lg-6 py-4" >
            <div class="row d-flex justify-content-between align-items-center">
                <h2>Реєстрація</h2>
                <a href="{{ url_for('register_help') }}" target="_blank" class="ml-1 mr-3 alert-link"><small><mark class="text-white bg-info">Дієвказ-інструкція</mark></small></a>
            </div>

            <div class="alert alert-secondary" role="alert">
                Для того щоб зареєструватися введіть логін, під яким ви зареєстровані на chess.com.
                В якості пароля можете ввести будь-який зручний для вас пароль.
                Секретний ключ скопіюйте і вставте на сайті chess.com у поле "Місцезнаходження".
                Після цього тисніть зареєструватися. Вас буде зареєстровано.
            </div>

            <form method="Post" action="">
                <div class="form-group">
                    {{ render_field(form.username, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.password, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.confirm, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.secret_key, class_="form-control plain-text") }}
                </div>
                <p><input type="submit" class="btn btn-primary" value="Подати"></p>
            </form>
        </div>
    </div>
{% endblock %}
