
      <p><strong>Старт:</strong> 13 жовтня 2019</p>

       <p><strong>Контроль: 1+1;5+2;10+2 </strong></p>
 
  <p>
     Другий матч чемпіонського пулу проти команди Ісландії.
  </p>

 
  <p><strong>Розклад: </strong></p>
 
     <ul>
          <li>Куля 1+1 - о 21:00(<a href="https://www.chess.com/live#tm=4523">https://www.chess.com/live#tm=4523</a>)</li>
          <li>Бліц 5+2 - о 21:20 (<a href="https://www.chess.com/live#tm=4522">https://www.chess.com/live#tm=4522</a>)</li>
          <li>Рапід-960 10+2 - о 22:00 (<a href="https://www.chess.com/live#tm=4521">https://www.chess.com/live#tm=4521</a>)</li>
     </ul>
     