{% extends "base.html" %}
{% block content %}

<table class="table table-bordered table-hover">
    <thead>
        <tr class="text-center">
            <th class="align-middle" data-sortable="true">#</th>
            <th class="align-middle" data-sortable="true">Гравець</th>
            <th class="align-middle" data-sortable="true">Рейтинг</th>
            <th class="align-middle" data-sortable="true">Очки загалом</th>
            <th class="align-middle" data-sortable="true">WL2020</th>
            <th class="align-middle" data-sortable="true">WL2020 (960)</th>
            <th class="align-middle" data-sortable="true">EL2020</th>
            <th class="align-middle" data-sortable="true">TMCL2020</th>
            <th class="align-middle" data-sortable="true">1WL2020</th>
        </tr>
    </thead>
    <tbody>
    {% for index, row in best_players.iterrows(): %}
        <tr class="text-center align-middle">
            <td>{{ index+1 }}</td>
            <td>{{ row['our_username'] }}</td>
            <td>{{ row['chess_daily_rating'] | int }}</td>
            <td>{{ row['score_total'] }}</td>
            <td>{{ row['score_WL2020'] }}</td>
            <td>{{ row['score_WL2020_960'] }}</td>
            <td>{{ row['score_EL2020'] }}</td>
            <td>{{ row['score_TMCL2020'] }}</td>
            <td>{{ row['score_1WL2020'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}

