{% extends "base.html" %}
{% block content %}

<h2 class="text-center">Список клубів</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <td></td>
            <td>Назва</td>
            <td>Кількість гравців</td>
            <td></td>
        </tr>
    </thead>

    <tbody>
    {% for club in clubs %}
    <tr>
        <td class="align-middle"><img src="/static/{{ club.club_id }}.png" width="100"></td>
        <td class="align-middle">{{ club.name }}</td>
        <td class="align-middle">{{ club.players | length }}</td>
        <td class="align-middle"><a href="{{ url_for('clubs_bp.club_index', club_id = club.club_id) }}" class="btn btn-primary">Переглянути</td>
    </tr>
    {% endfor %}
    </tbody>

</table>



{% endblock %}