{% extends "base.html" %}
{% block content %}

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2" href="#">Щоденні матчі</a>
    </nav>
  </div>

<h2>{{ club.name }}</h2>

<img src="/static/{{ club.club_id }}.png" width="160">

<hr>

<h4>Опис клубу: </h4>

<p>{{ club.description | safe}}</p>

<p><strong>Дата створення: </strong> {{ club.created }}</p>
<p><strong>Місцезнаходження: </strong> {{ club.location }}</p>
<p><strong>Посилання: </strong> <a href="{{ club.url }}">{{ club.url }}</a></p>
<p><strong>Кількість гравців: </strong> {{ club.players.count() }}</p>

{% endblock %}


